<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">



        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="/">Home</a>
            </li>
        {% endif %}


        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="/blog">Events</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" target="_blank" href="https://github.com/abhinav-adtechs?tab=repositories">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="/about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" target="_blank" href="/assets/files/AbhinavDasJan2019.pdf">Resume</a>
            </li>
        {% endif %}

        <li class="item">
            <a class="link" target="_blank" href="https://speakerdeck.com/jordiie09">Presentations </a>
        </li>

    </ul>
</nav>
